body {
    background: #2d2e33;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

#mainDiv {
    background: #577590;
    color: white;
    width: 700px;
}

.sixth {
    height: 100px;
    width: 90%;
}

#lines {
    padding-top: 2.25%;
}

#end-button {
    background-color: #90be6d;
    width: 25%;
    text-align: center;
}

.time-div {
    background-color: white;
    opacity: 0.9;
    margin-right: 10px;
}

#end-button:hover {
    background-color: #9abf7e;
}

#auth-overlay {
    display: none;
    background-color: #2d2e33ba;
    position: absolute;
    height: 200%;
}

.activity {
    width: 79%;
    position: absolute;
    left: 13%;
    opacity: 0.8;
}

.type {
    text-align: center;
    border-radius: 3px;
    padding: 3px;
    opacity: 0.8;
    margin-top: 5px;
}

.type:hover {
    opacity: 1;
    color: white;
    transition: 200ms;
}